In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
dataset=pd.read_csv("iris.csv")

dataset.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [2]:
dataset.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

AttributeError: 'DataFrame' object has no attribute 'value'

In [25]:
x=dataset.iloc[:,:-1].value
y=dataset.iloc[:,4].value
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.20)

AttributeError: 'DataFrame' object has no attribute 'value'

In [23]:
from sklearn.neighbor import KNeighborClassifier
Classifier=KNeighborClassifier(n_neighbor=5)
Classifier.fit(x_train,y_train)
y_pred=classifier.predict(x_test)

ModuleNotFoundError: No module named 'sklearn.neighbor'

In [31]:
from sklearn.metric import classification_repeat,confusion_matrix
print(classification_report(y_test,y_pred))

ModuleNotFoundError: No module named 'sklearn.metric'

In [ ]:
from sklearn.model import accuracy_cost
print("accuracy:",accuracy_codt(y_test,y_pred))